extends ../main.layout.pug

block content
    .content-container
        header.header
            h1.header__title Выбери свои <br /> цели на 2019 год
        form.form(action="")
            .label-wrap.label-wrap--iphone
                label.form__label(for="iphone") 
                    input.form__checkbox(type="checkbox" id="iphone")
                    .form__img-wrap.form__img-wrap-iphone
                        img.form__img-pic(src="./assets/images/iphone.png", alt="iphone", srcset="./assets/images/iphone2x.png 2x")
                    .form__checkbox-fake
                .form__text iPhone Xs
            .label-wrap.label-wrap--audi
                label.form__label(for="car") 
                    input.form__checkbox(type="checkbox" id="car")
                    .form__img-wrap.form__img-wrap-audi
                        img.form__img-pic(src="./assets/images/audi.png", alt="audiA5", srcset="./assets/images/audi2x.png 2x")
                    .form__checkbox-fake.form__checkbox-fake--center
                .form__text Audi A5
            .label-wrap.label-wrap--palm
                label.form__label(for="palm") 
                    input.form__checkbox(type="checkbox" id="palm")
                    .form__img-wrap.form__img-wrap-palm
                        img.form__img-pic(src="./assets/images/palm.png", alt="palm", srcset="./assets/images/palm2x.png 2x")
                    .form__checkbox-fake
                .form__text Финансовая независимость
        .content
        .platform
            .banner
                iframe.banner__render(src="./assets/banner/ru.html", frameborder="0")
            .description
                .description__text Digital-опционы - самый прибыльный торговый инструмент для работы на финансовом рынке, позволяющий получать до 1000% прибыли в сутки.
                ol.description__list
                    li.description__item Определите куда пойдет курс валюты.
                    li.description__item Открывайте сделки в нужном направлении.
                    li.description__item Получайте прибыль при правильном прогнозе.
    .registration
        .registration__text Начни зарабатывать на этом прямо сейчас!
        .registration__form 
            <iframe class="mbl1-form-reg js-reg-form" id="olymp-form" src="https://static.olymptrade.com/lands/affiliate-new-form-v2/index.html?inp_color=2DA66C&logo_none=true&b_transparent=true&" width="500" height="450"></iframe>
        a(href="#", target="_blank").registration__button Start traiding

block scripts
    script(src='./assets/scripts/main.bundle.js')