.content{
    width:100%;
    font-size:21px;
    line-height: 34px;
    margin-bottom:46px;
}
.content__wrap{
    width:86.20689655172414%;
    margin: 0 auto;
    background: #fff;
    border-radius:100px;
    display:flex;
    justify-content:space-between;
    padding: 25px 0;
    box-shadow:20px 10px 50px rgba(215,215,215,.3);
}
.content__col{
    width:50%;
}
.content__col-left{
    padding-left:105px;
}
.content__right-col{
    padding-left: 10px;
}