.content{
    width:100%;
    font-size:21px;
    line-height: 34px;
    margin-bottom:46px;
    @include phones {
        margin-bottom: 35px;
    }
}
.content__wrap{
    width:86.20689655172414%;
    margin: 0 auto;
    background: #fff;
    border-radius:100px;
    display:flex;
    justify-content:space-between;
    padding: 25px 105px;
    box-shadow:20px 10px 50px rgba(215,215,215,.3);
    @include tablets {
        width:95%;
        display:block;
        padding:25px 30px;
        border-radius: 10px;
    }
    @include phones {
        padding: 23px 20px;
    }
}
.content__col{
    width:50%;
    @include tablets {
        width:100%;
        display:flex;
    }
}
.content__col-left{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    @include tablets{
        flex-direction: row;
        justify-content: flex-start;
    }
    @include phones {

        font-size:16px;
        margin-bottom:5px;
        width:95%;
    }
}
.content__col-right{
    padding-left: 10px;
    @include tablets {
        padding-left:0;
    }
    @include phones {
        font-size: 14px;
        line-height:20px;
    }
}
.content__choise{
    @include tablets{
    display:flex;
    align-items: center;
    }
}