.registration {
    display:flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    @include phones {
        font-size: 21px;
        line-height: 28px;
    }
}
.registration__text{
    max-width: 390px;
    text-align: center;
    padding: 0 33px;
    margin-bottom: 34px;
    letter-spacing: 1.2px;
    @include phones {
        margin-bottom:0;
        padding: 0 20px;
    }
}
.registration__form {
    @include phones {
        margin-top:-3rem;
    }
}
.mbl1-form-reg{
    border: none;
  padding: 0;
  z-index: 9;
  outline: none;
  display: block;
}
.registration__button{
    width:240px;
    height:60px;
    color:white;
    border-radius:30px;
    line-height: 60px;
    text-align:center;
    text-decoration:none;
    background-color: #2DA66C;
    box-shadow: 10px 10px  35px rgba(45, 166, 108, 0.5);

}